[['vt.\n控制；\n管理；\n限制；\n支配\nn.\n支配权；\n操纵者；\n（对国家、地区、机构等的）管理权；\n（键盘上的）控制键', '英 [kənˈtrəʊl]\n美 [kənˈtroʊl]'], ['变形\n复数：\ncontrols\n过去式：\ncontrolled\n过去分词：\ncontrolled\n现在分词：\ncontrolling\n第三人称单数：\ncontrols']]